@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
}


header{
    background-color: #404eed;
    color: #ffffff;
    font-family: 'Lexend Deca', sans-serif;
}

nav{
    margin-bottom: 30px;
}

ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body{
    background-color: #404eed;
    color: #ffffff;
    font-family: 'Lexend Deca', sans-serif;
}

h1{
    color: #ffffff;
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.imagenPrincipal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 400px;   
}
h2{
    margin: 0px 0px 0px 10px;
}
.articuloCompleto{
    padding: 10px;
}

.articulosImagen{
    height: 150px;
}

article{
    display: flex;
    flex-direction: row;
    margin: 10px 0px 10px 0px;
}
.noticias{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.articuloTexto{
    margin: 0px 0px 0px 20px;
}


/*
.flexContainer{
    PARA PODER CAMBIAR POSICION, por defecto si no pongo nada en direction, es row
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    padding: 30px;
}

.divFlex{
    background-color: yellow;
    color: black;
    padding: 20px;
    margin: 10px;
}
*/ 

/*FLEX*/

footer{
    display: flex;
    flex-direction: column;
    margin: 30px 0px 30px 0px;
    text-align: center;
}

.logosFooter{
    display: flex;
    flex-direction: row;
    display:inline-block;
    margin: 3px 0px 0px 0px;
}

.logoFooter{
    height: 40px;
    width: 40px;
}

/*GRID EQUIPO*/

h3{
    margin: 20px 0px 0px 10px;
}

.boxEquipo{
    margin: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px; 
}

/*Animacion*/
.boxJugador:hover{
    transform: rotate(360deg);
    transition: all 1s;
    font-weight: bold;

}
/*Animacion2*/
.articuloCompleto:hover{
    background-color: rgba(61, 58, 58, 0.486);
}

.nombreJugador{
    text-align: center;
}
.numeroJugador{
    text-align: center;
}
.posicionJugador{
    text-align: center;
}
.imgJugador{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/*FIXTURE*/
/*GRID TEMPLATE AREAS*/
.resultado{
    grid-area: resultado;
}
.entradas{
    grid-area: entrada;
}
.publicidad{
    grid-area: publicidad;
}

.fixture{
    display: grid;
    grid-template-areas: 
    "resultado entrada"
    "entrada resultado"
    "publicidad"
    "resultado entrada"
    "entrada resultado"
    "publicidad";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 15%;
    width: 100%;
    height: 100vh;
}

.border{
    padding: 50px;
    background-color: aliceblue;
    border: 1px solid black;
}